.sum{
    font-size: 1.2rem;
    background-color: #1aeab6;
    color: #0f1111;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
    font-weight: 700;
}
.H{
    text-align: center;
}
.a{
    text-align: center;
}